$enable-shadows: true;
$enable-gradients: true;

$theme-colors: (
  
  "secondary": slateblue,
  "danger": orangered,
  "success": lightcyan,
  "warning": greenyellow,
  "dark": midnightblue,
  "light": aliceblue,
  "info": teal
);